[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/karsure2004
[access "refs/for/refs/*"]
	read = group user/karsure2004
	push = group user/karsure2004
	label-Code-Review = -2..+2 group user/karsure2004
	label-Verified = -1..+1 group user/karsure2004
	rebase = group user/karsure2004
	removeReviewer = group user/karsure2004
	submit = group user/karsure2004
[access "refs/heads/*"]
	read = group user/karsure2004
	create = group user/karsure2004
	push = +force group user/karsure2004
	pushMerge = group user/karsure2004
[access "refs/tags/*"]
	push = group user/karsure2004
	push = +force group user/karsure2004
